In [75]:
assignment_url = 'https://drive.google.com/file/d/1wiqPzuEQAI-o_12BAaIu66adb4vVzN-U/view'

## task

Input word: Ineuron
Output: noruenI

In [69]:
a =  "Ineuron"
a[-1: : -1]

'noruenI'

In [70]:
def reverse_string(string):
    b = ""
    c= ""
    for i in a:
        c = i
        b = c + b  
    return b

In [71]:
reverse_string(a)

'noruenI'

## task

Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

input :  first name =  xin
                last name = yong 
                
ouput :  young xin

In [6]:
first_name = "xin"
last_name = "yong"

output  = last_name + " " + first_name
print(output)

yong xin

In [7]:
first_name = str(input("enter the first name "))
last_name = str(input("enter the last name "))

output  = last_name + " " + first_name
print(output)

enter the first name shubham
enter the last name chaudhari
chaudhari shubham

## task

Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r**3

In [9]:
import math

In [20]:
# Assuming that radious is in cm always 
def sphere_volume(radious): 
    '''  radious :  in cm
    '''
    return str( (4/3)*(math.pi)*(radious)**3) + (" cm3")

In [21]:
sphere_volume(12)

'7238.229473870882 cm3'

## task

Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.
# the ouput list number should be an integer

In [28]:
data = str(input("Enter the comma seperated number here "))
l = [int (x) for x in data.split(",")]
print("output_list ==> " , l )

Enter the comma seperated number here 1,2,3,4,5,6,4
output_list ==>  [1, 2, 3, 4, 5, 6, 4]

## task

Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [53]:
l = []
for i in range(2000,3201):
    if (i%7 == 0 ) and (i %5 != 0):
        l.append(str(i))

In [59]:
# joining opereation by comma(",")
",".join(l)

'2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199'

## task

Write a Python Program to print the given string in the format specified in the sample output.

WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

######  sample output

WE, THE PEOPLE OF INDIA,
    having solemnly resolved to constitute India into a SOVEREIGN, !
        SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
        and to secure to all its citizens.

In [66]:
print('WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN, !\n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n\t\tand to secure to all its citizens.')

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN, !
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		and to secure to all its citizens.